.heading {
  height: calc(40svh - var(--nav-height));
  justify-content: center;
  padding-bottom: var(--nav-height);
  position: relative;
  padding: 0 12px;
}

.heading::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsl(var(--primary));
}

.faqWrapper {
  min-height: calc(100svh - var(--nav-height));
}
