@keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes appear {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleAppear {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: translateX(1);
    opacity: var(--svg-opacity);
  }
}

.featureWrapper {
  --svg-opacity: 1;
}

.spin {
  animation: spinReverse 10s linear infinite;
}

@supports (animation-timeline: view()) {
  .feature {
    opacity: 0;
    animation: appear forwards;
    animation-timeline: view();
    animation-range: entry 90% entry 190%;
  }

  .featureWrapper {
    view-timeline-name: --wrapper;
  }

  .featureWrapper svg {
    animation: scaleAppear forwards;
    opacity: 0;
    animation-timeline: --wrapper;
    animation-range: entry 50%;
  }

  @media (max-width: 768px) {
    .feature {
      animation-range: entry 80%;
    }
    .feature {
      animation-range: entry 90% entry 220%;
    }
    .featureWrapper {
      --svg-opacity: 0.3;
    }
  }
}
