.heading {
  opacity: 0;
  animation: appear 1.5s var(--spring-easing) forwards;
}

.headingPicture {
  opacity: 0;
  animation: appearRotate 1.5s var(--elastic-easing) 0.2s forwards;
}

.cross {
  transform: scale(0) rotate(20deg);
  transition: 1.5s var(--elastic-easing) 0.2s;
  pointer-events: none;
}

.cross.loaded {
  transform: scale(1) rotate(0);
  animation-timeline: --parallax-wrapper;
  animation-timing-function: var(--custom-easing);
  animation-name: parallaxTranslate;
  animation-range: exit 0% exit 100%;
}

.parallaxWrapper {
  view-timeline: --parallax-wrapper;
  min-height: calc(100svh - var(--nav-height));
}

.imagesWrapper {
  transform-style: preserve-3d;
  perspective: 900px;
}

.imagesWrapper::before {
  content: '';
  left: 50%;
  top: 50%;
  translate: -50% -50% -200px;
  width: 90%;
  height: 74%;
  background: hsl(var(--secondary));
  position: absolute;
  filter: blur(90px);
  opacity: 0.65;
}

.imageAnimated {
  animation-timeline: view();
  animation-timing-function: var(--custom-easing);
  animation-fill-mode: both;
  animation-range: entry 80% entry 160%;
  opacity: 0;
}
.imageAnimated:nth-child(1) {
  transform: rotateY(-60deg) translateX(-120%) translateZ(-300px);
  animation-name: apear3dImageNegative;
}
.imageAnimated:nth-child(2) {
  transform: rotateY(60deg) translateX(120%) translateZ(-300px);
  animation-name: apear3dImagePositive;
}

@keyframes appear {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearRotate {
  from {
    transform: rotate(20deg) scale(0.8);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes parallaxTranslate {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 calc(-100vh + 100% * 8);
    opacity: 1;
  }
}

@keyframes apear3dImagePositive {
  from {
    transform: rotateY(45deg) translateX(120%) translateZ(-300px);
    opacity: 0;
  }
  to {
    transform: rotateY(5deg) translateX(0px) translateZ(0px);
    opacity: 1;
  }
}

@keyframes apear3dImageNegative {
  from {
    transform: rotateY(-45deg) translateX(-120%) translateZ(-300px);
    opacity: 0;
  }
  to {
    transform: rotateY(-5deg) translateX(0px) translateZ(0px);
    opacity: 1;
  }
}
