.nav {
  height: var(--nav-height);
}

.mobile {
  animation: open 0.4s ease-in-out;
}

@keyframes open {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.close {
  height: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
