@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --swiper-navigation-sides-offset: 4px;
    --swiper-theme-color: hsl(201 70% 30%) !important;
    --spring-easing: linear(
      0,
      0.009,
      0.035 2.1%,
      0.141 4.4%,
      0.723 12.9%,
      0.938 16.7%,
      a 1.017,
      1.077,
      1.121,
      1.149 24.3%,
      1.159,
      1.163,
      1.161,
      1.154 29.9%,
      1.129 32.8%,
      1.051 39.6%,
      1.017 43.1%,
      0.991,
      0.977 51%,
      0.974 53.8%,
      0.975 57.1%,
      0.997 69.8%,
      1.003 76.9%,
      1.004 83.8%,
      1
    );
    --spring-duration: 1.333s;
    --elastic-easing: linear(
      0,
      0.218 2.1%,
      0.862 6.5%,
      1.114,
      1.296 10.7%,
      1.346,
      1.37 12.9%,
      1.373,
      1.364 14.5%,
      1.315 16.2%,
      1.032 21.8%,
      0.941 24%,
      0.891 25.9%,
      0.877,
      0.869 27.8%,
      0.87,
      0.882 30.7%,
      0.907 32.4%,
      0.981 36.4%,
      1.012 38.3%,
      1.036,
      1.046 42.7% 44.1%,
      1.042 45.7%,
      0.996 53.3%,
      0.988,
      0.984 57.5%,
      0.985 60.7%,
      1.001 68.1%,
      1.006 72.2%,
      0.998 86.7%,
      1
    );

    --background: 0 0% 100%;
    --foreground: 216 59% 17%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 201 70% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 335 78% 59%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.text-anim,
.inner-text-anim * {
  opacity: 0;
  /* translate: 0 100px; */
}

.headingText {
  animation: reveal 1s ease-in-out 0.3s forwards;
  translate: 0 100px;
  opacity: 0;
}

.subHeading {
  translate: 0 100px;
  opacity: 0;
  animation: reveal 1.2s ease-in-out 0.5s forwards;
}

@keyframes reveal {
  0% {
    translate: 0 100px;
    opacity: 0;
  }
  100% {
    translate: 0 0px;
    opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shake {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 6deg;
  }
  75% {
    rotate: -6deg;
  }
  100% {
    rotate: 0;
  }
}

.parent:hover .shaking {
  opacity: var(--svg-opacity);
  transition: 0.3s ease-in-out;
  animation: shake 0.8s ease-in-out infinite;
}

@media (max-width: 1024px) and (min-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    left: 50% !important;
    margin-left: calc(
      0px - (var(--swiper-navigation-size) / 88 * 27)
    ) !important;
    z-index: 10;
    margin-top: 0px !important;
  }
  .swiper-button-next {
    bottom: 0;
    top: auto !important;
    rotate: 90deg;
  }

  .swiper-button-prev {
    top: 0 !important;
    rotate: 90deg;
  }
}
