.picBg {
  opacity: 0;
  animation: picBgReveal 1s ease-in-out 0s forwards;
}

.picInner {
  opacity: 0;
  translate: 0 100%;
  animation: picInnerReveal 0.3s ease-out 0.6s forwards;
}

@keyframes picInnerReveal {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  100% {
    opacity: 1;
    translate: 0 0%;
  }
}

@keyframes picBgReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
