.blob {
  border-radius: 46%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  max-width: 500px;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
}

.heading {
  height: calc(80svh - var(--nav-height));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 600px;
  position: relative;
}

@media (max-width: 1024px) {
  .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 12px;
  }
  .blob {
    aspect-ratio: 5/2;
    padding: 0;
    width: 100%;
    overflow: clip;
    max-width: none;
    border-radius: 0;
    clip-path: ellipse(84% 100% at 50% 0%);
    margin: 0;
  }
}
