.heading {
  height: calc(50dvh - var(--nav-height));
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  min-height: 540px;
  position: relative;
}

@media (max-width: 1024px) {
  .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
    min-height: 0;
  }
}

@media (max-width: 640px) {
  .heading {
    height: auto;
    min-height: calc(100dvh - var(--nav-height));
  }
}
